* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul > li {
  list-style: none;
}
/* header section */
.page-header {
  padding: 10px 30px 5px 30px;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-wrapper .header-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}
.header-wrapper .header-logo {
  width: 300px;
  margin-right: 121px;
}
.header-wrapper .header-button {
  margin-right: 70px;
}
.header-wrapper .header-item .header-button button {
  padding: 6px 12px;
  background-color: #d083cf;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  border: none;
}
.header-wrapper .header-search {
  padding-right: 5px;
}
.header-wrapper .header-search .header-search-bar {
  position: relative;
  padding-left: 35px;
}

.header-wrapper .header-search .header-search-bar input {
  width: 400px;
  padding: 8px;
  border: 1px solid silver;
}
.header-wrapper .header-search .header-search-bar span {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

/* update section */
.update-wrapper {
  display: flex;
}
.update-wrapper .update-text {
  width: 10%;
  background-color: #d083cf;
  color: #fff;
  text-align: center;
  padding: 6px;
}
.update-wrapper .update-scroller {
  width: 90%;
  background-color: #222222;
  color: #fff;
}
.update-wrapper .update-scroller marquee {
  padding: 6px 0px;
}

/* Navbar */
.navbar {
  margin-top: 10px;
  background: #222222;
  position: relative;
}

.navbar .nav-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 70%;
  color: #eaecef;
}
.navbar .nav-main li {
  padding: 7px 0px;
}
.navbar .nav-main .nav-item {
  border-right: 1px solid #383838;
}
.navbar .nav-main .nav-item:hover {
  background: #d083cf;
  color: #ddd;
  border-right: 1px solid #d083cf;
}
.navbar .nav-main .nav-item:last-child {
  border: none;
}
.navbar .nav-main .nav-logo {
  background: #d083cf;
  border-right: 1px solid #d083cf;
}
.navbar .nav-main .nav-logo i {
  font-size: 18px;
  padding: 0px 14px;
  line-height: 25px;
}

.navbar .nav-main .nav-item a {
  color: #ddd;
  font-size: 14px;
  padding: 0px 14px;
  line-height: 25px;
}
.navbar .nav-main .nav-item span {
  padding-left: 5px;
}
.nav-social {
  position: absolute;
  bottom: 2px;
  right: 0;
  display: flex;
}
.nav-social .social-item {
  background: whitesmoke;
  color: #2f2f2f;
  padding: 8px 10px;
  border-left: 1px solid #ccc;
}
.facebook:hover {
  background: #337ab7;
  color: whitesmoke;
  padding: 8px 10px;
  border-left: 1px solid #337ab7;
  cursor: pointer;
}
.twitter:hover {
  background: #0598c9;
  color: whitesmoke;
  padding: 8px 10px;
  border-left: 1px solid #0598c9;
  cursor: pointer;
}
.youtube:hover {
  background: #e32114;
  color: whitesmoke;
  padding: 8px 10px;
  border-left: 1px solid #e32114;
  cursor: pointer;
}
.mail:hover {
  background: #bc75d6;
  color: whitesmoke;
  padding: 8px 10px;
  border-left: 1px solid #bc75d6;
  cursor: pointer;
}
/* dropdown menu */
.dropdown-menu {
  display: none;
}
.dropdown-menu .dropdown-item {
  min-width: 160px;
  text-align: center;
  background: #222222;
}

.nav-item:hover .dropdown-menu {
  display: block;
  position: absolute;
}

.dropdown-item:hover {
  background: #bc75d6;
}
/* content section */
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px 5px 30px;
}
/* main-content section */
.content-wrapper .main-content {
  width: 75%;
}
/* main-content hero section */
.content-wrapper .main-content .hero-section {
  border-bottom: 1px solid silver;
}
.content-wrapper .main-content .hero-section .hero-img {
  width: 100%;
}
/* main-content released section */
.content-wrapper .main-content .new-released-wrapper {
  border-bottom: 1px solid silver;
  padding: 13px 0px;
}
.content-wrapper .main-content .new-released-wrapper .new-released-header {
  display: flex;
  padding: 10px 0px;
}
.content-wrapper .main-content .new-released-wrapper .new-released-header h3 {
  padding-right: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
.content-wrapper
  .main-content
  .new-released-wrapper
  .new-released-header
  .new-released-button {
  border: 1px solid silver;
  padding: 3px 8px;
  background: #eaecef;
  margin-left: 20px;
  border-radius: 2px;
}

.content-wrapper .main-content .new-released-wrapper .new-released {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-wrapper
  .main-content
  .new-released-wrapper
  .new-released
  .released-item {
  width: 24%;
}

.released-item-img {
  position: relative;
}

.released-item-img .size {
  background: rgba(0, 0, 0, 0.7);
  color: beige;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px 7px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.content-wrapper
  .main-content
  .new-released-wrapper
  .new-released
  .released-item
  .movie-title {
  color: mediumblue;
  font-size: 14px;
  padding: 3px 0px;
}
.view-download {
  font-size: 14px;
  color: #969696;
  font-weight: bold;
}
.download-button {
  font-style: italic;
}
.download-button a {
  color: #969696;
}

/* sidebar */
.content-wrapper .sidebar {
  width: 25%;
  padding-top: 10px;
  padding-left: 30px;
}

/* movie request form */
.movie-request h3 {
  background: #222222;
  text-align: center;
}
.movie-request h3 span {
  background: #d083cf;
  color: beige;
  padding: 8px;
}
.form-item {
  padding: 25px 15px 5px 15px;
}
.form-item label {
  display: inline-block;
  padding-bottom: 8px;
  font-weight: 700;
}
.form-item label span {
  color: red;
  font-style: italic;
}
.form-item input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
}
.form-item select {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
}
.form-button {
  text-align: center;
}
.form-button .movie-request-button {
  background: gray;
  max-width: 300px;
  color: white;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid transparent;
}
/* side bar categories */
.sidebar-single {
  margin: 35px 0px;
}
.sidebar .sidebar-single-header {
  background: #222222;
  text-align: center;
}
.sidebar .sidebar-single-header .sidebar-single-text {
  display: inline-block;
  background: #d083cf;
  color: beige;
  padding: 8px;
  border: none;
  font-weight: bolder;
}
.sidebar-single-categories {
  text-align: left;
}
.sidebar-single-categories-item {
  padding: 10px;
  background: #20a0e4;
  font-size: 20px;
  font-weight: bold;
  color: beige;
  border-top: 1px solid #1682ba;
  border-left: 1px solid #1682ba;
  border-right: 1px solid #1682ba;
}
.sidebar-single-categories-item a {
  color: beige;
}
.sidebar-dropdown-menu {
  display: none;
}

.sidebar-dropdown-menu .sidebar-dropdown-item {
  min-width: 160px;
  text-align: center;
  background: #424852;
  border: none;
}
.sidebar-dropdown-menu .sidebar-dropdown-item a {
  text-align: center;
  color: #ddd;
}

.sidebar-dropdown:hover .sidebar-dropdown-menu {
  display: block;
}
.sidebar-dropdown-item:hover {
  background: #bc75d6;
  background: #49505a;
}
/* footer */
footer {
  display: flex;
  padding: 0px 30px 5px 30px;
  background: #333;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  color: beige;
}
